{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "marshal" }}

{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

import "encoding/json"

{{ range $n := $.Nodes }}


{{ end }}

{{ end }}
